
* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

html {
  background-color: #222222;
}

p {
  margin: 0 0 10px;
}

ul {
  margin-bottom: 10px;
  margin-left: 10%;
}

a {
  color:#9d9d9d;
  text-decoration: none;
}

.flex-row, #flex-col, .flex-col {
  margin:0;
}

h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#logo {
  font-size: 28px;
  font-weight: bold;
  color:#AF3F3F;
  padding: 10px;
}

.nav-btn {
  display: none;
}

body {
  min-width: 444px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.flex-row, .main-list, #navbar li, .mobile-heading, .flex {
  display: flex;
}
.mobile-heading {
  margin-left: 15%;
  font-size: 1.1em;
  justify-content: center;
}
#flex-col {
  flex-direction: column;
}

nav {
  background-color: #222222;
  /*margin-bottom: 5px;*/
}

.flex-row{
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}

.lower-bar li {
  height:25px;
}

.upper-bar {
  height: 45px;
}

#navbar li{
  font-size: 1em;
  background-color: transparent;
  height: 100%;
  border-bottom: 0;
  color: #9d9d9d;
  padding-bottom: 2px;
  /*border-right: 1px solid #9d9d9d;*/
}

.main-list {
  display: flex;
  flex-direction: row;
  height:110px;
  background-color: grey;
  border-bottom: black 1px solid;
  align-items: center;
  font-size: 2em;
}
.desktop-view ul,.desktop-view ul li a{
  display:flex;
}
.desktop-view li, .desktop-view img {
  flex-direction: row;
  flex: 1 1 40px;
  list-style-type: none; 
}

.mobile-view {
  display:none;
}

.hide-details{
  height: 300px;
  overflow: hidden;
}

.small-screen {
  width:110px;
  height:110px;
}

section {
  min-height: calc(100vh - 243px);
  padding-bottom: 70px;
  background-color: rgba(206,202,202,0.65);
}

article {
  padding: 5px 50px;
}

footer {
  height: 100px;
  background-color: #222222;
  padding-top: 10px;
}
.footer-links li{
  display: inline;
  color: #e2bc5a;
  margin: 3px 15px;
  font-size: 18px;
}
.footer-links{

  margin: 20px 0;
}
.pull-up {
  position: relative;
  top: -110px;
  background-color: #cecaca;
}

[data-num]:hover>.hidden-detail{
  transform: translateY(-70px);
}

.hidden-detail {
  text-align: center;
  padding-top: 5px;
  background-color: rgba(196, 190, 190,.7);
  color:black;
  text-shadow: 1px 1px #dbd4d4;
  height: 100px;
  transition: .75s;
}
.hidden-detail>span {
  font-size: 1.3em;
}


.fa {
  font-size: 22px;
}


/************************************************
/               Media queries                   *
/************************************************/

@media only screen and (max-width : 768px) {
  nav {
    margin-bottom: 0;
  }
  .lower-bar{
    display: none;
  }
  .upper-bar {
    height: 68px;
  }
  #logo {
    font-size: 50px;
  }
/*  .nav-btn {
    display: block;
    padding:4px;
    padding-top: 0px;
    height: 44px;
    width: 48px;
    border-radius: 10px;
    border: 2px solid #9d9d9d;
    float: right;
    margin: 7px 10px;
    background-color: #474646;
    }*/
    .nav-btn {
      display: block;
      padding: 1px;
      padding-top: 0px;
      height: 41px;
      width: 41px;
      border-radius: 10px;
      border: 2px solid #9d9d9d;
      float: right;
      margin: 10px 10px;
    }
/*  .nav-btn hr {
    margin: 10px 3px;
    height:1px;
    width: 40px;
    }*/
    .btn-selected {
      background-color: #474646;
      
    }

    .nav-btn hr {
      margin: 9px 4px;
      height: 0px;
      width: 30px;
    }
    .desktop-view {
      display:none;
    }
 /* .mobile-view {
    position: relative;
    top: 0px;
    z-index:-1;
    display:none;
    }*/
    .pull-up {
      top: 0px;

    }
  }


  /* EXPERIMENTS */

  .bgi {
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    margin: 0;
    padding: 0;
    z-index:-1;
  }



